#line-svg {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;

}
div.draw-line-height {
  /* feel free to change height */
  height: 5000px;
}

#line-path {
    visibility:hidden;
}
